*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-image: url("/images/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-size: cover; 
    width: 80%;
    min-height:100vh;
    margin: 4rem auto;
    display: flex ;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 100%, 74%) ;
    text-align:center;
    max-width: 1050px;
}
header h1, p{
color: white;
}
header h1{
    font-size: 40px;
    line-height:1.2;
}
header p {
    padding: 2rem 0 4rem;
    line-height: 1.8;
    font-weight: 500;
}
main > div:first-child > p{
    border-radius: 10px;
    padding: 1rem 3rem;
    border: none;
    background-color:  hsl(248, 32%, 49%);
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}
main > div:first-child > p >span{
    font-weight: 600;
}
#form-container{
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 6px 2px rgba(0, 0, 0, 0.2) ;
}
.input-control{
    position:relative;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
}

.input-control input ,#submitBtn{
    width: 100%;
    display: block;
    padding: 1rem;
    font-weight: 700;
    border: 1px solid  hsl(246, 25%, 77%);
    border-radius: 4px; 
}

.input-control .errorM{
    font-size: 12px;
    position: absolute;
    color: red;
    bottom: 0;
    left: 0;
   
}
.input-control.success input {
    border-color:green;
}
.input-control.error input {
    border-color: red;
}
main > div:last-child >p{
    font-size: 10px;
    font-weight:500;
    color: hsl(246, 25%, 77%);
   
}
main > div:last-child >p >span{
    color: hsl(0, 100%, 74%) ;
    font-weight: 600;

}
#submitBtn{
    margin-bottom: 1rem;
    border: none ;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    background-color: hsl(154, 59%, 51%) ;
    box-shadow: 0 6px 2px rgba(31, 138, 92, 0.9) ;
}
#submitBtn:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

@media all and (min-width:520px){
    body{
        background-image: url("/images/bg-intro-desktop.png");
        flex-direction: row;
        flex-wrap:wrap;
    }
    header, main{
        flex: 50%;
    }
    header{
        text-align: left;    
    }
    header p {
        padding:1rem 0 1rem;
        line-height: normal;
    }
    main > div:first-child > p{
        padding: 1rem ;
    }
}
@media all and (min-width:750px){
   body{
    margin: 0 auto;
   }
}